<style>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: left;
        background-color: #5d48f6;
        background: rgb(92, 20, 199);
        background: radial-gradient(circle, rgba(92, 20, 199, 1) 0%, rgba(0, 0, 0, 1) 100%);

    }
</style>
<div class="text-center">



    <h1 class="text-center" style="text-transform: uppercase;color: #FFF;font-weight: bolder;font-size: 1.8em;padding: 1em 1em 1em 0.2em;"> The synthesized voice dashboard <br>(it's easy to use in any device)</h1>
    <p>Tabae aims to be an assistive dashboard</p>



    <section>
      <section>
        <p class="h1">COMING SOON!</p>
      </section>
        <%= image_tag("happy-bunch-3_trasp.png", :alt => "A group of people having a conversation", :style => "width:100%;padding:5px;") %>
    </section>



</div>