<style>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #fff;
        text-align: left;
        background-color: #5d48f6;
        background: rgb(92, 20, 199);
        background: radial-gradient(circle, rgba(92, 20, 199, 1) 0%, rgba(0, 0, 0, 1) 100%);

    }
</style>
<div class="text-center">

  <style>
    nav.navbar {
      display:none
    }
  </style>

    <h1 class="text-center" style="text-transform: uppercase;color: #FFF;font-weight: bolder;font-size: 1.8em;padding: 1em 1em 0em 0.2em;"> The synthesized voice dashboard </h1>
    <p>(it's easy to use in any device)</p>
    <!--<p>Tabae aims to be an assistive dashboard</p>-->



    <section>
      <section >
       

        <%= image_tag("coming_soon.png", :alt => "Coming soon", :style => "width:300px;padding:2em 0px ;") %>
   
      </section>
    </section>



</div>