// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_self
//  */

// $body-bg: #e2e2e2;

// $theme-colors: (
//   "primary": #ff304f,
//   "secondary": #cacaca,
//   "success": #015668,
//   "info": #0f81c7,
//   "warning": #0de2ea,
//   "danger": #06648c,
//   "light": #ececec,
//   "dark": #222222,
// );
// @import "scaffolds";
// @import "bootstrap"; //bootstrap gem

//@import '@simonwep/pickr/dist/themes/nano.min.css';      // 'nano' theme


// body {
//   font-family: "Lato", sans-serif;
// }
// .sentence {
//   font-size: 13px;
// }
// .sentence button {
//   font-size: 8px;
//   padding-right: 5px;
// }

// body.offline .only_online,
// body.online .offline_message,
// body.online .only_offline {
//   display: none;
// }
.group_selected #nav-group-tab{
    display: none;
}
#nav-home-tab{
    display: none;
}
.bigTitle{
    height: 80pt;
    font-size: 6vw;
    overflow: hidden;
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}


@media only screen and (max-width: 600px) {
  .sm-small {
    font-size: 17px;
  }
}

.TextBigger{
    font-size: 3em;
    vertical-align: super;
    margin: 0;
    padding: 0;
  }


  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

body.mobile .ifDesktop {
  display: none;
}

body.desktop .ifMobile {
  display: none;
}

body.mobile .tb-separe {
  padding: 3rem 1.5rem !important;
}