// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_self
//  */

// $body-bg: #e2e2e2;

// $theme-colors: (
//   "primary": #ff304f,
//   "secondary": #cacaca,
//   "success": #015668,
//   "info": #0f81c7,
//   "warning": #0de2ea,
//   "danger": #06648c,
//   "light": #ececec,
//   "dark": #222222,
// );
// @import "scaffolds";
// @import "bootstrap"; //bootstrap gem

// body {
//   font-family: "Lato", sans-serif;
// }
// .sentence {
//   font-size: 13px;
// }
// .sentence button {
//   font-size: 8px;
//   padding-right: 5px;
// }

// body.offline .only_online,
// body.online .offline_message,
// body.online .only_offline {
//   display: none;
// }
.group_selected #nav-group-tab{
    display: none;
}
#nav-home-tab{
    display: none;
}
.bigTitle{
    height: 80pt;
    font-size: 6vw;
    overflow: hidden;
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}


@media only screen and (max-width: 600px) {
  .sm-small {
    font-size: 17px;
  }
}

.TextBigger{
    font-size: 3em;
    vertical-align: super;
    margin: 0;
    padding: 0;
  }