// Your variable overrides
$body-bg: #6d84fe;
$body-color: #fff;
$input-focus-border-color: #6d2077;
$input-focus-color: #000;
$input-color: #000;

$theme-colors: (
  "primary": #222,
  "secondary": #cacaca,
  "success": #bec0d3,
  "info": #0f81c7,
  "warning": #0de2ea,
  "danger": #06648c,
  "light": #ececec,
  "dark": #222222,
);

// Typography
//$font-size-base: 12px; // this changes the font-size throughout bootstrap
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1.3rem;
//$line-height-base: 1.2;

.card {
  border-radius: 10px;
 
}

a.nav-link {
  color: #fff;
}
.a-white a,
.a-white a:hover {
  color: #fff;
}
